@use 'colors.scss' as colors;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;
@use 'functions.scss' as func;

$height: 3rem;

:host {
    @include mixins.block(auto, $height);

    position: relative;
    cursor: pointer;

    &:hover .pop{
        display: block;
    }
}

.pop {
    @include mixins.block(100%, auto, none);

    @include mixins.position(0,0);

    background: colors.$background-secondary;
    border-radius: 0.25rem;
}

.pop>a, .lang {
    @include mixins.block(100%, $height);

    font: 1rem;
    padding: 0 1rem;

    i{
        @include mixins.block(32px, 32px, inline-block);
    
        background: url('../../assets/icon/language_bold.svg') no-repeat center;
    
        margin-left: 0.5rem;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }

    *{
        vertical-align: middle;
    }
}
