@use 'theme/dark.scss' as colors;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;
@use 'functions.scss' as func;

$height-header: 5rem;
$font-nav: 1.25rem;
$padding-header: 2.5rem;
$padding-header-small: 0.5rem;
$margin-nav: 1.25rem;


:host {
    @include mixins.block(100%, $height-header);

    *{
        color: colors.$font;
        background-color: colors.$background;        
    }
}

.header {
    @include mixins.block(100%, $height-header, flex);
    @include mixins.position(0rem, 0rem, fixed);

    z-index: settings.$z-index-fixed;
    align-items: center;

    .logo {
        @include mixins.block(func.rem-calc(134), $height-header);
        flex: 1;
        margin-left: $padding-header;
        background: url('../../assets/img/momentum.svg') no-repeat left center;
        cursor: pointer;
    }

    .nav {
        @include mixins.block(auto, $height-header);

        position: relative;
        margin-right: $margin-nav;
        flex: none;
        font-size: $font-nav;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
            color: colors.$font-current;
        }
    }

    .language {
        flex: none;
        margin-right: $font-nav;
    }

    .current::after{
        content: '';
        @include mixins.block(100%, 0.5rem);
        @include mixins.position4(auto, auto,0,0);
        
        background-color: colors.$font;
    }
}

@media screen and (max-width: settings.$response-width-small) {
    .header {
        .logo {
            width: func.rem-calc(40);
            margin-left: $padding-header-small;
        }

        .nav {
            margin-right: $padding-header-small;
        }

        .language {
            margin-right:0.25rem;
        }
    }
}