@use 'theme/light.scss' as colors;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

$footer-line-height: 2rem;
$fonter-font: 1rem;
$item-margin:1rem;

:host {
    @include mixins.block(100%, auto);
    margin:3rem 0;
    text-align: center;

    >div{
        margin-top: $item-margin ;
    }
}

.media{

    height: $footer-line-height;
    text-align: center;

    a {
        @include mixins.block(1.5rem, 1.5rem, inline-block);

        background-color:colors.$font;
        margin-right:$item-margin;
        vertical-align: middle;
        cursor: pointer;
    }

    .linkedin {
        mask: url('../../assets/img/linkedin.svg') no-repeat center;
    }

    .facebook {
        mask: url('../../assets/img/facebook.svg') no-repeat center;
    }

    .youtube {
        mask: url('../../assets/img/youtube.svg') no-repeat center;
    }

    .instagram {
        mask: url('../../assets/img/instagram.svg') no-repeat center;
    }
}

.items{

    a{
        @include mixins.block(auto, $footer-line-height, inline-block);

        margin-right:$item-margin;
        font-size: $fonter-font;
        cursor: pointer;
    }
}

.copyright{
    color:colors.$font-secondary;
    font-size: $fonter-font;
}
