/* You can add global styles to this file, and also import other style files */
@use 'theme/light.scss' as colors;
@use 'theme/dark.scss' as colors_dark;
@use 'mixins.scss' as mixins;
@import 'apps/index';

@font-face {
    font-family: 'CiscoSansTT';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/font/CiscoSansTTRegular.woff2') format('woff2'),
      url('./assets/font/CiscoSansTTRegular.woff') format('woff');
    font-display: fallback;
}

* {
    font-family: CiscoSansTT, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: colors.$font;
    text-decoration: none;
}

body,html {
  background-color: colors.$background;
  min-width: 375px;
  height: 100%;
}

.markdown-body {
  background-color: colors.$background;

  pre, code {
    background-color: colors_dark.$background-surface;
  }

}

code * {
  color: colors_dark.$font;
}